
.link {
    position: relative;
    text-decoration: none;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: -3px;  
    left: 0;
    width: 0;
    height: 3px;   
    background-color: white;  
    transition: width 0.3s;  
  }
  
  .link:hover::after {
    width: 100%;
  }